---
Checks: >
  clang-analyzer-*,
  cert-*,
  cppcoreguidelines-*,
  hicpp-*
  bugprone-*,
  performance-*,
  readability-*,
  -clang-diagnostic-unknown-warning-option,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-non-const-parameter,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-redundant-declaration,
  -readability-function-cognitive-complexity,
  -readability-avoid-const-params-in-decls,
  -readability-inconsistent-declaration-parameter-name,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-named-parameter,
  -readability-avoid-nested-conditional-operator,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-redundant-member-init,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-branch-clone,
  -performance-type-promotion-in-math-fn,
  -performance-enum-size,
  -performance-avoid-endl,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-interfaces-global-init,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -clang-analyzer-unix.Malloc,
  -clang-analyzer-core.NullDereference,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -cert-dcl37-c,
  -cert-err33-c,
  -cert-err34-c,
  -cert-exp42-c,
  -cert-flp37-c,
  -cert-dcl51-cpp,
  -cert-dcl50-cpp
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
...
