---
Checks: >
  clang-analyzer-*,
  cert-*,
  cppcoreguidelines-*,
  hicpp-*
  bugprone-*,
  performance-*,
  readability-*,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-non-const-parameter,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-redundant-declaration,
  -readability-function-cognitive-complexity,
  -readability-avoid-const-params-in-decls,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-branch-clone,
  -performance-type-promotion-in-math-fn,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -clang-analyzer-unix.Malloc,
  -clang-analyzer-core.NullDereference,
  -clang-analyzer-security.insecureAPI.strcpy,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err33-c
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
...
